header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #FEFFFE;
    height: 100px;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.logoTienda {
    height: 90px;
    width: 90px;
    margin-left: 50px;
}

.botonNav {
    width: 70px;
    text-decoration: none;
    color: white;
}

