header {
    display: flex;
    align-items: center;
    background-color: white;
    color: #FEFFFE;
    height: 100px;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.logoTienda {
    height: 90px;
    width: 90px;
    border-radius: 30%;
}

.botonNav {
height: 40px;
width: 90px;
}

